[submodule "examples/cloudedge-proactive-migration/dataengineer/workflows/prediction/TSLib"]
	path = examples/cloudedge-proactive-migration/dataengineer/workflows/prediction/TSLib
	url = https://github.com/joanoliveras/Time-Series-Library.git
