name: Execute Reactive Migration notebook

on:
  push:
    branches:
      - feat/reactive-migration
    paths:
      - examples/cloudedge_reactive_migration/**
      - tutorials/cloudedge_reactive_migration/**
      - .github/workflows/reactive_migration.yaml
  workflow_dispatch: {}

# Set environment variables
env:
  SCANFLOW_SERVER_URI: ${{ vars.CELLNEX_SCANFLOW_SERVER_URI }}
  SCANFLOW_TRACKER_URI: ${{ vars.CELLNEX_SCANFLOW_TRACKER_URI }}
  MLFLOW_S3_ENDPOINT_URI: ${{ vars.CELLNEX_MLFLOW_S3_ENDPOINT_URI}}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
jobs:
  jupyter-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.11.5'
        cache: 'pip'
    - name: Install Python requirements
      run: pip install -r tutorials/cloudedge_reactive_migration/requirements.txt -r tutorials/cloudedge_reactive_migration/requirements-scanflow.txt
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitLab Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ vars.GITLAB_REGISTRY_URI }}
        username: ${{ secrets.GITLAB_REGISTRY_USERNAME }}
        password: ${{ secrets.GITLAB_REGISTRY_PASSWORD }}
    - name: Pull image test
      shell: bash
      run: "docker pull registry.gitlab.bsc.es/datacentric-computing/cloudskin-project/cloudskin-registry/cloudedge-dataengineer-batch-inference-graph-predictor-batch:latest"
    - name: Execute Reactive Migration Notebook
      shell: bash
      run: |
        cd tutorials/cloudedge_reactive_migration
        jupyter execute cloudedge-dataengineer.ipynb
