name: Execute Reactive Migration notebook

on:
  push:
    paths:
      - examples/cloudedge_reactive_migration/**
      - tutorials/cloudedge_reactive_migration/**

# Set environment variables
env:
  SCANFLOW_SERVER_URI: ${{ vars.CELLNEX_SCANFLOW_SERVER_URI }}
  SCANFLOW_TRACKER_URI: ${{ vars.CELLNEX_SCANFLOW_TRACKER_URI }}
  MLFLOW_S3_ENDPOINT_URI: ${{ vars.CELLNEX_MLFLOW_S3_ENDPOINT_URI}}
  AWS_ACCESS_KEY_ID: ${{ secret.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secret.AWS_SECRET_ACCESS_KEY }}
jobs:
  jupyter-run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitLab Container registry
      uses: docker/login-action@v3
      with:
        registry: registry.gitlab.bsc.es
        username: ${{ secrets.GITLAB_REPOSITORY_USERNAME }}
        password: ${{ secrets.GITLAB_REPOSITORY_PASSWORD }}
    - uses: yaananth/run-notebook@v2
      env:
        RUNNER: ${{ toJson(runner) }}
        SECRETS: ${{ toJson(secrets) }}
        GITHUB: ${{ toJson(github) }}
      with:
        notebook: "tutorials/cloudedge_reactive_migration/cloudedge-dataengineer.ipynb"
        #params: "PATHTOPARAMS.json"
        isReport: False
        poll: True
    #- uses: actions/upload-artifact@v3
    #  if: always()
    #  with:
    #    name: output
    #    path: ${{ RUNNER.temp }}/nb-runner
    #  env:
    #    RUNNER: ${{ toJson(runner) }}
